body{
	Font-family:arial,verdana,sans-serif;
    font-size:15px;
	text-align:justify;
	letter-spacing : 1px;
	background-image:url("../profile.jpg");
	background-size:cover;
	background-position:center;
}
div{
	border: 0px solid black;
	margin:20px 20px 20px 20px; 
	padding:20px;
	-webkit-box-shadow: 0px 0px 69px 7px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 69px 7px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 69px 7px rgba(0,0,0,0.8);
}

h1{
	 font-weight:bold;
	 text-shadow:#999999 3px 2px  2px;
	 text-align:center;
	
}
h2{
	
	 font-weight:bold;
	
}
p{
	 font-weight:normal;
}
